// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#apollo_main {
    margin-bottom: 40px;
    box-shadow: -7px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

#apollo_nav_main_btn_pin {

    margin-right: 5px;
    vertical-align: sub;
}

#apollo_nav_main_btn {
    color: #ffffff !important;
    background: #001730;
    border-radius: 5px;
    border-bottom: 2px solid #FE4A49;
    font-weight: bold;
    padding: 7px 30px;
}

#apollo_nav_main_btn:hover {
    opacity: 0.9;
    transition: 500ms;
}

.nav-link {
    color: #001730 !important;
    padding-right: 30px !important;
    font-weight: bold !important;
}

.apollo_nav_item:hover {
    opacity: 0.8;
    transition: 500ms;
}

#apollo_nav {
    background-color: #fff0;
    transition: 500ms;
    padding-left: 7.5%;
    padding-right: 7.5%;
    border-top: 5px solid #FE4A49;
}

#apollo_nav_brand_span {
    color: #FE4A49;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15.7922px;
    letter-spacing: 0.28em;
    vertical-align: middle;
    padding-left: 15px;
}

#apollo_jumbotron_items {
    padding-top: 80px;
}

#apollo_jumbotron_landing {
    border-radius: 0px;
    background: url(/img/apollo_jumbotron.png);
    background-size: cover;
    min-height: 100vh;
}

.apollo_jumbotron_centered_parent {
    display: flex;
    justify-content: center;
}

.apollo_btn_primary {
    color: #ffffff !important;
    background: #001730;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #FE4A49;
    font-weight: bold;
    padding: 7px 30px;
}
.apollo_btn_primary:hover {
    opacity: 0.9;
    transition: 500ms;
}

.apollo_jumbotron_heading1 {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    color: #001730;
}

.apollo_jumbotron_paragraph {
    text-align: center;
    font-family: Karla;
    font-size: 16px;
    color: #001730;
}

#apollo_jumbotron_search_form {
    margin-top: 20vh;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

#apollo_jumbotron_search_input {
    color: #FE4A49;
    font-family: Karla;
}

textarea, select, input, button { outline: none !important; box-shadow: none !important; }

#apollo_jumbotron_arrow_scrolldown {
    margin-top: 25vh;
    cursor: pointer;
}
#apollo_jumbotron_arrow_scrolldown:hover {
    opacity: 0.6;
    transition: 500ms;
}

#apollo_search_filter_tools {
    margin-top: 12vh;
    display: flex;
    justify-content: center;
}

#apollo_search_banner {
    background-size: cover;
    background: url(/img/apollo_search_estate.png) 0% 32%;
    height: 20vh;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 4px solid #FE4A49;
}

#apollo_search_property_filter {
    display: flex;
    justify-content: center;
    padding: 25px 5%;
    background-color: #FE4A49;;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.apollo_search_property_filter_item {
    background: none;
    padding: 10px 25px;
    border-radius: 5px;
    color: #ffffff;
    border-bottom: 2px solid #fff;
    margin-right: 7px;
    cursor: pointer;
}

.filter-active {
    background: #001730;
}

.apollo_search_property_filter_item:hover {
    background-color: rgb(203, 56, 56);
    transition: 500ms;
}

.filter-active:hover {
    background: #001730;
    opacity: 0.9 !important;
}

.apollo_search_filter_icon {
    margin-right: 5px;
    vertical-align: sub;
}

#apollo_search_fields {
    display: flex;
    background-color: #FE4A49;
    padding: 0 5% 25px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

#apollo_search_left_half {
    width: 50%;
    display: flex;
    margin-right: 5%;
}

#apollo_search_field {
    width: 80%;
    height: 40px;
    background-color: #ffffff;
    font-family: Karla;
    border-radius: 3px 0 0 3px;
}

#apollo_dropdown_button {
    width: 100%;
    background-color: #ffffff;
    height: 40px;
    border-radius: 0 3px 3px 0;
    margin-left: 2px;
    outline: none !important; box-shadow: none !important;
    font-family: Karla;
}

.dropdown-toggle::after {
    display: none;
}

#apollo_search_right_half {
    width: 50%;
    display: flex;
}

#apollo_search_button {
    margin-left: auto;
    width: 36%;
    border-bottom: 2px solid #ffffff;
}

.apollo_container {
}

.apollo_heading2 {
    color: #FE4A49;
    font-weight: 600;
    font-family: Montserrat;
}

.apollo_recent_item_heading {
    color: #FE4A49;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 1.1rem;
}

.apollo_recent_item_image {
    margin-bottom: .75rem;
}

.apollo_recent_item_city {
    font-family: Karla;
    color: #1b1e21;
    font-size: 1.1rem;
}

.apollo_recent_item_price {
    color: #001730;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 1.1rem;
}

.apollo_recent_item {
    width: 320px;
    height: 208px;
    background-size: cover;
    margin-bottom: 9px;
}

.apollo_recent_item_visits {
    background-color: #00173077;
    color: #ffffff;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid #FE4A49;
}

#apollo_verified_banner {
    background-size: cover;
    background: url(/img/apollo_partners_banner.png) 0% 32%;
    height: 20vh;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 4px solid #FE4A49;
}

.apollo_why_us_cl {
    color: #313437;
    background-color: #fff;
    padding-bottom: 30px;
    margin-top: 10vh;
}

@media (max-width:767px) {
    .apollo_why_us_cl {
        padding-bottom: 10px;
    }
}

.apollo_why_us_cl p {
    color: #7d8285;
}

.apollo_why_us_cl h2 {
    font-weight: bold;
    margin-top: 40px;
    padding-top: 40px;
    color: inherit;
}

.apollo_why_us_cl .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 60px;
}

@media (max-width:767px) {
    .apollo_why_us_cl .intro {
        margin-bottom: 40px;
    }
}

.apollo_why_us_cl .item {
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .apollo_why_us_cl .item {
        min-height: 0;
    }
}

.apollo_why_us_cl .item .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
}

.apollo_why_us_cl .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.apollo_why_us_cl .item .icon {
    font-size: 40px;
    float: left;
    margin-left: -65px;
}

#apollo_login_form_mail {
    background-color: #ffffff;
    margin: auto;

    width: 40%;
    border: none;
    border-radius: 6px;
    border-bottom: 4px solid #FE4A49;
}

#apollo_login_form_password {
    background-color: #ffffff;
    margin: auto;

    width: 40%;
    border: none;
    border-radius: 6px;
    border-bottom: 4px solid #FE4A49 !important;
}

.login_form_input {
    margin-top: 50px;
    border-radius: 50px;
    border: 1px #888888 solid;
    width: 80%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FE4A49 !important;
    font-family: Karla;
}

.apollo_flex_item {
    justify-content: center;
    display: flex;
}

.apollo_login_proceed {
    margin-top: 30px;
    margin-bottom: 50px;
}

.apollo_register_proceed {
    margin-top: 30px;
    margin-bottom: 50px;
}

#apollo_login_no_acc {
    color: #FE4A49;
    font-weight: 800;
    font-size: 1.01em;
    font-family: inherit;
    cursor: pointer;
}

.apollo_login_form_box {
    background-color: #ffffff;
    margin: auto;

    width: 40%;
    border: none;
    border-radius: 6px;
    border-bottom: 4px solid #FE4A49;
}

.apollo_register_form_label {
    color: #FE4A49;
    font-weight: 800;
    font-size: 1.01em;
    font-family: inherit;
}

.apollo_register_form_error {
    color: #7b2524;
    font-weight: 800;
    font-size: 1.01em;
    font-family: inherit;
    text-align: center;
}

#apollo_login_form_account_type {
    background-color: #ffffff;
    margin: auto;

    width: 40%;
    border: none;
    border-radius: 6px;
    border-bottom: 4px solid #FE4A49 !important;
}

.apollo_standard_user_btn {
    border: 1px solid #333333;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 50px;
    cursor: pointer;
}

.apollo_standard_user_btn:hover {
    opacity: 0.9;
    transition: 500ms;
}

.apollo_agent_user_btn {
    border: 1px solid #333333;
    border-left: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 50px;
    cursor: pointer;
}

.apollo_agent_user_btn:hover {
    opacity: 0.9;
    background-color: #e0e0e0;
    transition: 500ms;
}

.apollo_account_selected:hover {
    opacity: 1 !important;
    background-color: #001730 !important;
}

.apollo_account_selected {
    background-color: #001730 !important;
    opacity: 1 !important;
    transition: 500ms;
}

#apollo_myaccount_jumbotron {
    border-radius: 0px;
    background: url(/img/apollo_jumbotron.png);
    min-height: 20vh;
    height: 20vh;
    margin-top: 36px;
    padding-top: 4.55rem;
}

.apollo_jumbotron_listitems {
    display: flex;
    margin-left: 7.5%;
}

.apollo_jumbotron_listitem {
    padding: .2rem 1rem;
    color: #ffffff;
    opacity: 0.7;
    cursor: pointer;
    font-family: Karla;
    user-select: none;
}

.apollo_jumbotron_listitem:hover {
    opacity: 0.9;
    transition: 400ms;
    border-bottom: 2px solid #ffffff;
}

.apollo_jumbotron_listitem_active {
    border-bottom: 2px solid #001730;
    border-radius: 2px;
    color: #001730;
    font-weight: bold;
    padding: .2rem 2rem;
    opacity: 1 !important;
    transition: 800ms !important;
}

.apollo_jumbotron_listitem_active:hover {
    color: #001730 !important;
    border-bottom: 2px solid #001730 !important;
}

#apollo_myaccount_profile {
    display: flex;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#apollo_myaccount_avatar {
    width: 96px;
    height: 96px;
    border-radius: 6px;
    border-bottom: 4px solid #FE4A49;
}

#apollo_myaccount_profile_info_heading {
    padding: 17.8px;
    margin-left: 20px;
}

#apollo_myaccount_profile_info_name {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.5rem;
    color: #001730;
}

.apollo_myaccount_item {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
    height: 48px;
    align-items: center;
}

.apollo_myaccount_item_right {
    display: flex;
    justify-content: center;
    height: 48px;
    align-items: center;
    margin-top: 0px;
    margin-left: 10px;
}

.apollo_settings_input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #001730;
}

#apollo_myaccount_settings_access {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
    height: 48px;
    align-items: center;
}

.apollo_settings_dropdown {
    width: 100%;
    background-color: transparent;
    border-radius: 0 3px 3px 0;
    outline: none !important; box-shadow: none !important;
    font-family: Karla;
}

.apollo_settings_dropdown_btn {
    border: none;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #001730;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#apollo_snackbar {
    visibility: visible;
    min-width: 250px;
    background-color: #001730;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 20px;
    padding: 16px 16px 16px 16px;
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 5%;
    border-radius: 6px;
    border-bottom: 4px solid #FE4A49;
    -webkit-animation: fadein 0.8s, fadeout 0.8s 2.5s;
    animation: fadein 0.8s, fadeout 0.8s 2.5s;
    cursor: pointer;
}

#apollo_snackbar:hover {
    opacity: 0.9;
    transition: 350ms;
}

.apollo_myaccount_container {
    margin-left: 7.5%;
}

@media (max-width:767px) {
    .apollo_myaccount_container {
        margin-left: auto;
    }
}

#apollo_place_property {
    padding-top: 100px;
    background-image: url(/img/apollo_jumbotron.png);
}

.apollo_div_awaits_input {
    font-size: 26px;
    font-family: Montserrat;
    color: #001730;
}

.apollo_span_awaits_input {
    color: #FE4A49;
    text-decoration: underline;
}

#apollo_step_one {

}

.col-md-8 {

}

.apollo_step_one_choose_prop {
    background-color: #001730;
    color: #ffffff;
    border: 1px solid #001730;
    border-radius: 6px;
    padding: 3px 10px;
    margin-right: 6px;
    opacity: 0.8;
    cursor: pointer;
}

.apollo_step_one_choose_prop:hover {
    transition: 500ms;
    opacity: 0.9;
}

.apollo_step_one_choose_prop.active {
    opacity: 1;
    border-bottom: 4px solid #4AD7D1;
    transition: 300ms;
}

.apollo_step_one_choose_prop_label {
    padding-left: 10px;
    font-family: Karla;
    font-size: 1rem;
}

.apollo_step_one_question {
    font-family: Montserrat;
    font-size: 18px;
}

#apollo_place_property_side_todo {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.apollo_todo_sidebar_item {
    border-left: 2px solid #1b1e21;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.apollo_todo_sidebar_item.active {
    font-weight: bold;
    border-left: 4px solid #4AD7D1;
}

.apollo_copy_progress_link_btn {
    border: none;
    color: #ffffff !important;
    background: #001730;
    border-radius: 5px;
    border-bottom: 4px solid #4AD7D1;
    font-weight: bold;
    padding: 7px 30px;
}

#apollo_copy_progress_link {
    margin-top: 136px;
}

#apollo_place_property_container {
    background-color: #fff;
}

.apollo_flow_pagination {
    margin-top: 70px;
    margin-bottom: 100px;
    padding-left: 20px;
}

.apollo_post_flow_question_item {
    padding: 20px;
}

#apollo_progress_link_display {
    display: flex;
}

#apollo_progress_link_copy {
    border: none;
    color: #ffffff !important;
    background: #001730;
    border-radius: 5px;
    border-bottom: 4px solid #4AD7D1;
    font-weight: bold;
    padding: 5.5px 10px;
}

#apollo_progress_link_field {
    width: 80%;
    margin-right: 4px;
    border-bottom: 4px solid #4AD7D1;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.apollo_location_btn {
    border: 1px solid #b3b3b3;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.apollo_input_field {
    width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 6px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.apollo_error {
    &-btn {
        background-color: #FE4A49;
        border-radius: 6px;
        width: 100%;
        border: none;
        font-weight: 500;
        border-bottom: 6px solid #001730;
        font-family: Karla;
        padding: 10px 0;
        color: #fff;

        &:hover {
            opacity: 0.9;
            transition: 500ms;
        }
    }
}

body {
    max-width: 100%;
    overflow-x: hidden;
}
