#apollo_nav_main_btn_pin {

    margin-right: 5px;
    vertical-align: sub;
}

#apollo_nav_main_btn {
    color: #ffffff !important;
    background: #001730;
    border-radius: 5px;
    border-bottom: 2px solid #FE4A49;
    font-weight: bold;
    padding: 7px 30px;
}

.nav-link {
    color: #001730 !important;
    padding-right: 30px !important;
    font-weight: bold !important;
}

#apollo_nav {
    background-color: #ffffff;
    padding-left: 7.5%;
    padding-right: 7.5%;
    -webkit-box-shadow: 0 5px 6px -6px #999;
    -moz-box-shadow: 0 5px 6px -6px #999;
    box-shadow: 0 5px 6px -6px #999;
    border-top: 5px solid #FE4A49;
}

#apollo_nav_brand_span {
    color: #FE4A49;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15.7922px;
    letter-spacing: 0.28em;
    vertical-align: middle;
    padding-left: 15px;
}

#apollo_jumbotron_items {
    padding-top: 80px;
}

#apollo_jumbotron_landing {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: url(/img/apollo_jumbotron.png);
    background-size: cover;
    min-height: 100vh;
}

.apollo_jumbotron_centered_parent {
    display: flex;
    justify-content: center;
}

.apollo_btn_primary {
    color: #ffffff !important;
    background: #001730;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #FE4A49;
    font-weight: bold;
    padding: 7px 30px;
}

.apollo_jumbotron_heading1 {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    color: #001730;
}

.apollo_jumbotron_paragraph {
    text-align: center;
    font-family: Karla;
    font-size: 16px;
    color: #001730;
}
