#apollo_nav_main_btn_pin {

    margin-right: 5px;
    vertical-align: sub;
}

#apollo_nav_main_btn {
    color: #ffffff !important;
    background: #001730;
    border-radius: 5px;
    border-bottom: 2px solid #FE4A49;
    font-weight: bold;
    padding: 7px 30px;
}

#apollo_nav_main_btn:hover {
    opacity: 0.9;
    transition: 500ms;
}

.nav-link {
    color: #001730 !important;
    padding-right: 30px !important;
    font-weight: bold !important;
}

.apollo_nav_item:hover {
    opacity: 0.8;
    transition: 500ms;
}

#apollo_nav {
    background-color: #ffffff;
    padding-left: 7.5%;
    padding-right: 7.5%;
    -webkit-box-shadow: 0 5px 6px -6px #999;
    -moz-box-shadow: 0 5px 6px -6px #999;
    box-shadow: 0 5px 6px -6px #999;
    border-top: 5px solid #FE4A49;
}

#apollo_nav_brand_span {
    color: #FE4A49;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15.7922px;
    letter-spacing: 0.28em;
    vertical-align: middle;
    padding-left: 15px;
}

#apollo_jumbotron_items {
    padding-top: 80px;
}

#apollo_jumbotron_landing {
    border-radius: 0px;
    background: url(/img/apollo_jumbotron.png);
    background-size: cover;
    min-height: 100vh;
}

.apollo_jumbotron_centered_parent {
    display: flex;
    justify-content: center;
}

.apollo_btn_primary {
    color: #ffffff !important;
    background: #001730;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #FE4A49;
    font-weight: bold;
    padding: 7px 30px;
}
.apollo_btn_primary:hover {
    opacity: 0.9;
    transition: 500ms;
}

.apollo_jumbotron_heading1 {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    color: #001730;
}

.apollo_jumbotron_paragraph {
    text-align: center;
    font-family: Karla;
    font-size: 16px;
    color: #001730;
}

#apollo_jumbotron_search_form {
    margin-top: 20vh;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

#apollo_jumbotron_search_input {
    color: #FE4A49;
    font-family: Karla;
}

textarea, select, input, button { outline: none !important; box-shadow: none !important; }

#apollo_jumbotron_arrow_scrolldown {
    margin-top: 25vh;
}

#apollo_search_filter_tools {
    margin-top: 12vh;
    display: flex;
    justify-content: center;
}

#apollo_search_banner {
    background-size: cover;
    background: url(/img/apollo_search_estate.png) 0% 32%;
    height: 20vh;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 4px solid #FE4A49;
}

#apollo_search_property_filter {
    display: flex;
    justify-content: space-between;
    padding: 25px 5%;
    background-color: #FE4A49;;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.apollo_search_property_filter_item {
    background-color: #001730;
    padding: 10px 25px;
    border-radius: 5px;
    color: #ffffff;
    border-bottom: 2px solid #fff;
}

.apollo_search_filter_icon {
    margin-right: 5px;
    vertical-align: sub;
}

#apollo_search_fields {
    display: flex;
    background-color: #FE4A49;
    padding: 0 5% 25px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

#apollo_search_left_half {
    width: 50%;
    display: flex;
    margin-right: 5%;
}

#apollo_search_field {
    width: 80%;
    height: 40px;
    background-color: #ffffff;
    font-family: Karla;
    border-radius: 3px 0 0 3px;
}

#apollo_dropdown_button {
    width: 100%;
    background-color: #ffffff;
    height: 40px;
    border-radius: 0 3px 3px 0;
    margin-left: 2px;
    font-family: Karla;
}

.dropdown-toggle::after {
    display: none;
}

#apollo_search_right_half {
    width: 50%;
    display: flex;
}

#apollo_search_button {
    margin-left: auto;
    width: 36%;
    border-bottom: 2px solid #ffffff;
}

.apollo_container {
}

.apollo_heading2 {
    color: #FE4A49;
    font-weight: 600;
    font-family: Montserrat;
}

.apollo_recent_item_heading {
    color: #FE4A49;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 1.1rem;
}

.apollo_recent_item_image {
    margin-bottom: .75rem;
}

.apollo_recent_item_city {
    font-family: Karla;
    color: #1b1e21;
    font-size: 1.1rem;
}

.apollo_recent_item_price {
    color: #001730;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 1.1rem;
}

.apollo_recent_item {
    width: 320px;
    height: 208px;
    background-size: cover;
    margin-bottom: 9px;
}

.apollo_recent_item_visits {
    background-color: #00173077;
    color: #ffffff;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-bottom-left-radius: 10px;
}
