#apollo_nav_main_btn_pin {

    margin-right: 5px;
    vertical-align: sub;
}

#apollo_nav_main_btn {
    color: #ffffff !important;
    background: #001730;
    border-radius: 5px;
    border-bottom: 2px solid #FE4A49;
    font-weight: bold;
    padding: 7px 30px;
}

#apollo_nav_main_btn:hover {
    opacity: 0.9;
    transition: 500ms;
}

.nav-link {
    color: #001730 !important;
    padding-right: 30px !important;
    font-weight: bold !important;
}

.apollo_nav_item:hover {
    opacity: 0.8;
    transition: 500ms;
}

#apollo_nav {
    background-color: #ffffff;
    padding-left: 7.5%;
    padding-right: 7.5%;
    -webkit-box-shadow: 0 5px 6px -6px #999;
    -moz-box-shadow: 0 5px 6px -6px #999;
    box-shadow: 0 5px 6px -6px #999;
    border-top: 5px solid #FE4A49;
}

#apollo_nav_brand_span {
    color: #FE4A49;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15.7922px;
    letter-spacing: 0.28em;
    vertical-align: middle;
    padding-left: 15px;
}

#apollo_jumbotron_items {
    padding-top: 80px;
}

#apollo_jumbotron_landing {
    border-radius: 0px;
    background: url(/img/apollo_jumbotron.png);
    background-size: cover;
    min-height: 100vh;
}

.apollo_jumbotron_centered_parent {
    display: flex;
    justify-content: center;
}

.apollo_btn_primary {
    color: #ffffff !important;
    background: #001730;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #FE4A49;
    font-weight: bold;
    padding: 7px 30px;
}
.apollo_btn_primary:hover {
    opacity: 0.9;
    transition: 500ms;
}

.apollo_jumbotron_heading1 {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    color: #001730;
}

.apollo_jumbotron_paragraph {
    text-align: center;
    font-family: Karla;
    font-size: 16px;
    color: #001730;
}

#apollo_jumbotron_search_form {
    margin-top: 20vh;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

#apollo_jumbotron_search_input {
    color: #FE4A49;
    font-family: Karla;
}

textarea, select, input, button { outline: none !important; box-shadow: none !important; }

.company-heading h1 {
    margin-bottom: 60px;
    padding-bottom: 50px;
    line-height: 80px;
    color: #fff;
    font-weight: 700 !important;
    text-align: center;
}

#apollo_jumbotron_arrow_scrolldown {
    margin-top: 25vh;
}

#apollo_search_filter_tools {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

#apollo_search_banner {
    background-size: cover;
    background: url(/img/apollo_search_estate.png) 0% 32%;
    height: 20vh;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 4px solid #FE4A49;
}

#apollo_search_property_filter {
    display: flex;
    justify-content: space-between;
    padding: 25px 5%;
    background-color: #FE4A49;;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.apollo_search_property_filter_item {
    background-color: #001730;
    padding: 10px 25px;
    border-radius: 5px;
    color: #ffffff;
    border-bottom: 2px solid #fff;
}

.apollo_search_filter_icon {
    margin-right: 5px;
    vertical-align: sub;
}
